.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-bottom: 50px;
}

.img {
  max-width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 5%;
}

.button {
  margin-top: 8rem;
  font-size: 1.1rem;
  background-color: #f9004d;
  width: 9rem;
  height: 3.2rem;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border:none;
  color: #fff;
  font-weight: bold;
  margin:auto;
}